<h1>{{title}}</h1>
<div class="table-responsive">
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kishore Kumar</td>
            <td>Reddy Kadapa</td>
            <td>24LPA</td>
            <td>28/11/1992</td>
            <td>kishorekumarreddykadapa@gmail.com</td>
            <td>
                <button class="btn btn-success m-2">Edit</button>
                <button class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>